<div class="container">
    <div class="row">
      <div class="col-10">
        <img src="../../assets/images/trading.jpg" alt="Algo Trading" width="1000" height="1000">
      </div>
      <div class="col-2">
        <div style="display: block;">
            <button style="margin: 10px;"  class="btn btn-primary" (click)="navigation('place-order')">Place Order</button>
            <button style="margin: 10px;"  class="btn btn-primary">Cancel Order</button>
            <button style="margin: 10px;"  class="btn btn-primary">Modify Order</button>
            <button style="margin: 10px;"  class="btn btn-primary">Order Status</button>
            <button style="margin: 10px;"  class="btn btn-primary">Telegram</button>
            <button style="margin: 10px;" class="btn btn-primary" (click)="navigation('strike-price-selection')">Strike Price Selection</button>
        </div>
      </div>
    </div>
  </div>